* {
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
  /*font-family: "Roboto", sans-serif;*/
}
/*body {
  font-size: 20px;
}*/
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}
.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40px;
  padding: 40px;
  margin: 0 auto;
  gap: 20px;
}
.header p {
  margin: 0;
}
.main {
  display: flex;
  width: 90%;
  padding: 20px 40px;
  margin: 0 auto;
  flex-grow: 1;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 42, 42);
  color: white;
  padding: 12px 40px;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  z-index: -1;
}
.bold {
  font-weight: bold;
}
.capital {
  text-decoration: underline;
  text-transform: uppercase;
}
