nav {
  flex-grow: 1;
}
.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  transition: color 0.3s;
  color: green;
}

.navList {
  display: flex;
  list-style: none;
  justify-content: space-around;
  list-style-type: none;
  transition: 0.2s;
}
.navList a {
  text-decoration: none;
  color: black;

  transition: 0.1s;
}
.navList a:hover {
  cursor: pointer;
  border-bottom: 1.5px solid green;
}
.navList a.active {
  color: green;
  border-bottom: 1.5px solid green;
  font-weight: bold;
}
