.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  transition: color 0.3s;
  color: green;
}
.navDiv {
  width: 40%;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  list-style-type: none;
  transition: 0.2s;
  padding: 0;
  gap: 20px;
}
.navList a {
  text-decoration: none;
  color: black;

  transition: 0.1s;
}
.navList a:hover {
  cursor: pointer;
  border-bottom: 1.5px solid green;
}
.navList a.active {
  color: green;
  border-bottom: 1.5px solid green;
  font-weight: bold;
}
