.home,
.homeTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.homeTitle {
  position: relative;
  align-items: center;
  justify-content: center;
  min-height: 70vh;
  padding: 25px 60px;
  background-image: url("../images/home/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 25%;
  min-width: 100%;
  border-radius: 20px;
  color: white;
  z-index: 0;
}
.homeTitleTitle {
  font-size: 75px;
  margin: 0;
}
.homeTitleText {
  font-size: 35px;
  margin: 0;
  padding: 20px 0;
}
.homeWrapper {
  padding: 40px 0;
}
.homeWrapperText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.bold {
  font-weight: bold;
}
.capital {
  text-transform: uppercase;
}
