.carPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.carPageTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 250px;
  font-size: 35px;
  border-radius: 20px;
  color: white;
  background-size: cover;
  padding: 25px 60px;
  background-image: url("../../images/cars/carPageTitle.jpg");
  background-position: 50% 80%;
}
.carPageTitle h2 {
  margin: 0;
}
.carPageText {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  padding: 40px 0;
  padding-bottom: 75px;
}
.brandPart {
  padding: 95px 0;
  padding-top: 0;
}
.back {
  border: none;
}
.back a {
  display: inline-block;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 25px;
}
.back a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fada5e;
  transition: all 0.2s;
  z-index: -1;
  transform: translateX(-105%);
}
.textCard h3 {
  margin-bottom: 10px;
}
.back a:hover::before {
  transform: translateX(0);
}
.back a:hover {
  color: black;
}
@media (max-width: 950px) {
  .carPageText {
    padding-bottom: 60px;
  }
  .brandPart {
    padding-bottom: 0px;
  }
  .brandSubtitle h3 {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .carPageText h3 {
    text-align: center;
  }
  .textCard h3 {
    margin-bottom: 10px;
  }
  .textCard p {
    margin-bottom: 20px;
  }
  .back a {
    background-color: #fada5e;
    border-radius: 20px;
  }
}
