.cars {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.carsTitle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
  padding: 25px 60px;
  min-height: 250px;
  background-image: url("../../images/cars/car-5383371_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 75%;
  min-width: 100%;
  border-radius: 20px;
  color: white;
}
.carsText h3 {
  margin: 0;
  padding: 95px 0;
}
.carsTitle h2 {
  font-size: 2.25rem;
}
.carsWrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  gap: 40px;
}
.carBrand {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}
.brandName {
  position: relative;
  font-size: 1.25rem;
  display: none;
}
.carBrand:hover .brandName {
  display: block;
  transition: display 1s;
}
.skoda::before,
.toyota::before,
.lexus::before,
.van::before,
.minivan::before {
  position: absolute;
  content: "";
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  border-radius: 20px;
  background-size: cover;
}
.skoda::before {
  background-image: url("../../images/cars/skoda.jpg");
  transform: scaleX(-1);
  background-position: 46% 75%;
}
.toyota::before {
  background-image: url("../../images/cars/toyota.jpg");
  background-position: 15% 15%;
}

.lexus::before {
  background-image: url("../../images/cars/lexus.jpg");
  background-position: 40% 20%;
}

.van::before {
  background-image: url("../../images/cars/van.jpg");
  background-position: 15% 15%;
}

.minivan::before {
  background-image: url("../../images/cars/minivan.jpg");
  background-position: 15% 15%;
}
.skoda:hover::before,
.toyota:hover::before,
.lexus:hover::before,
.van:hover::before,
.minivan:hover::before {
  cursor: pointer;
  transition: opacity 0.2s;
  opacity: 0.55;
}
