.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  transition: color 0.3s;
  color: green;
}
.navDiv {
  width: 40%;
}

.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  list-style-type: none;
  transition: 0.2s;
  padding: 0;
  gap: 20px;
}

.navList a {
  display: inline-block;
  position: relative;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.navList a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  transition: all 0.2s;
  z-index: -1;
  transform: translateX(-105%);
}
.navList a:hover::before {
  transform: translateX(0);
}
.navList a:hover {
  color: white;
}

.navList a.active {
  color: black;
  font-weight: bold;
}
