.navBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  text-decoration: none;
  color: black;
}

.logo:hover {
  transition: color 0.3s;
  color: green;
}
.btn {
  display: none;
}
.navDiv {
  display: flex;
  align-items: center;
}
.navList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  list-style-type: none;
  transition: 0.2s;
  padding: 0;
}

.navList a {
  display: inline-block;
  position: relative;
  padding: 12px 20px;
  border-radius: 10px;
  transition: all 0.3s;
  overflow: hidden;
  text-decoration: none;
  color: black;
  font-size: 1.25rem;
}
.navList a::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  transition: all 0.2s;
  z-index: -1;
  transform: translateX(-105%);
}
.navList a:hover::before {
  transform: translateX(0);
}
.navList a:hover {
  color: white;
}

.navList a.active {
  color: black;
  font-weight: bold;
}

@media (max-width: 780px) {
  .navBar {
    flex-direction: column;
  }
  .logoDiv {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 40px;
  }
  .navDiv {
    display: none;
  }
  .open {
    display: flex;
  }
  .navList {
    flex-direction: column;
  }
  .btn {
    display: flex;
    padding: 0 40px;
    align-items: center;
  }
}
